@model BoticApp.Models.MEDICAMENTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>MEDICAMENTO</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CODIGO)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CODIGO)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MEDICAMENTO1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MEDICAMENTO1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DESCRIPCION)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.MEDICAMENTO_TIPO.MEDICAMENTO_TIPO1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MEDICAMENTO_TIPO.MEDICAMENTO_TIPO1)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID_MEDICAMENTO }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
